body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 200px);
}

#weather-info {
    background-color: rgb(34, 69, 243);
    padding: 20px;
    color: #fff;
    text-align: center;
}

#weather-info .location {
    font-size: 24px;
    font-weight: bold;
}

#weather-info .date {
    font-size: 18px;
    margin-top: 10px;
}

#weather-info .info {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    font-size: 14px;
}

#weather-info .info div {
    background-color: #1a4e8c;
    padding: 10px;
    border-radius: 4%;
    text-align: center;
}

#weather-info .info div h4 {
    margin: 0;
    font-size: 12px;
}

#weather-info .info div p {
    margin: 5px 0;
}
#weather-data .data div{
    background-color: rgb(34, 69, 243);
}